.drawingboard {
    display:inline-block;
    justify-content:center;
    align-items:center;
    margin-top: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 6px #ccc;
}

.regular {
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 6px #ccc;
    background-color: lightgrey;
    font-weight: bold;
}

button {
    font-size: 20px;
    background-color: #eee;
    padding: 12px;
    box-shadow: 0 1px 1px black;
    margin: 10px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #f1f1f1; /* Black*/
    overflow: auto; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
    text-align: left;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* The navigation menu active link */
.sidenav a.active {
  background-color: #4CAF50;
  color: white;
}

/* When you mouse over the navigation links, change their color, but only if the link is not active */
.sidenav a:hover:not(.active), .offcanvas a:focus{
  background-color: #555;
  color: white;
}

/* Position and style the close button (top right corner) */
.sidenav .closebutton {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
